*{
    margin: 0;
}
.App{
    width:50vw;
    height:60vh;
    border:2px solid rgb(150, 35, 102);
    margin:auto;
    margin-top:10vh;
} 
@media only screen and (max-width:600px){
    .App{
        width:100vw;
        height:80vh;
        margin-top:0;
    }
    #link{   
        padding-left:30%;
    }
}
#link{
    padding-left:35%;
}
